.main-img {
    border-radius: 50%;
    width:50%;
    margin: auto;
    margin-top: 10%;
}
.title{

    font-size: 35px!important;
    margin-top:5%;
    
}


.name {
    font-size: 25px!important;
    text-align: center;

}
.age{
    font-size: 20px!important;
    text-align: center;
}
.information{
    margin-top: 15%;
}