.main-img {
    border-radius: 50%;
    width:80%;
    margin: auto;
    margin-top: 10%;
}
.title{

    margin-top:5%;
    
}


.name {
    font-size: 36px!important;
    text-align: center;

}
.age{
    font-size: 28px!important;
    text-align: center;
}
.information{
    margin-top: 15%;
}